---
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css" integrity="ObE+ehRshGuMJ3N47RvNz2kEAWkHvWdZvPtU8pn/MoY9AXPhwksQiaVjB17fWwqn" crossorigin="anonymous">
</head>
<body>
    <style type="text/css">
        body {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }

        img {
            max-width: 280px;
            height: auto;
        }

        span {
            text-align: center;
        }
    </style>

    <div class="container">
        <header role="banner">
            <h1>{{ page.title }}</h1>
        </header>

        <main role="main">
            {{ content }}
        </main>
    </div>
</body>
</html>
